{% load static %}
<html>
    <head>
        <title>{% block head_title %} New experience {% endblock %}</title>

        <meta name= "viewport" content="width=device-width, initial-scale=1.0">
        <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
        <div class="wrapper-easy"><span class="text_pos"> A New Blogging Experience </span>
        <span class="second-wrapper"> Blogs feed!! </span>
        </div>

		<style type="text/css" title="currentStyle">
			@import "{% get_static_prefix %}css/bootstrap.min.css";
{#		    @import "{% get_static_prefix %}css/bootstrap-theme.min.css";#}
{#		    @import "{% get_static_prefix %}js/jquery-2.1.1.min.js";#}
		    @import "{% get_static_prefix %}js/bootstrap.min.js";
		    @import "{% get_static_prefix %}css/style.css";
            /*@import "{% get_static_prefix %}js/moment.js";*/
		</style>
        <script type="text/javascript" src="{% get_static_prefix %}js/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="{% get_static_prefix %}js/moment.js"></script>
        <script type="text/javascript" src="{% get_static_prefix %}js/blog_func.js"></script>
        <script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
        <script type="text/javascript">CKEDITOR.replace( 'blog-body' );</script>
    </head>
    <body>
{##}
{#        {% include 'body-navbar.html' %}#}
{#            <div class="row-fluid">#}
{#                <div class="span12"><br>#}
{#                    <div class="content-border"><br>#}
{#                            <div class="container-pad">#}
{#                            {% block home-marquee %}#}
{#                                <h2> HOME-MARQUEE </h2>#}
{#                            {% endblock %}#}
{#                            </div><br><br>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}


           <a href="{% url 'signup' %}" class="btn btn-info add-user"> + SIGN UP </a>
           <a href="{% url 'login' %}" class="btn btn-info user-login"> LOG IN </a>
           
{#        <h1>{% block title %}Welcome to my blogs!!{% endblock %}</h1>#}
        {% block content %}
{#            <script src="http://code.jquery.js"></script>#}
{#            <script src="js/bootstrap.min.js"></script>#}

        {% endblock %}
    </body>
</html>
