{% load static %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <style type="text/css" title="currentStyle">
			@import "{% get_static_prefix %}css/bootstrap.min.css";
{#		    @import "{% get_static_prefix %}css/bootstrap-theme.min.css";#}
{#		    @import "{% get_static_prefix %}js/jquery-2.1.1.min.js";#}
		    @import "{% get_static_prefix %}js/bootstrap.min.js";
		    @import "{% get_static_prefix %}css/style.css";
	</style>
    <script type="text/javascript" src="{% get_static_prefix %}js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}js/blog_func.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}ckeditor/ckeditor.js"></script>
    <script type="text/javascript">CKEDITOR.replace( 'blog-body' );</script>
    

    <title>
            {% block title %}
                    Add/Edit New Blog
            {% endblock %}
        </title>

</head>
<body class="signup"><center>
    <h1> Write about your Blog here!! </h1>
    <form method="post" action="/addblog/"> {% csrf_token %}
        <div class="input-group all-same-look">
        <!-- <p>  </p> -->
        {{forms.first_name}}
        <p class="text-justify title-look">{{ form.title }}</p>

        <p class="text-justify category-look">{{ form.category }}</p>
        <p class="text-justify body-look embolden">{{ form.body }}
        <p class="text-justify firstname-look">This blog will be registered under the user <b>"{{ user.first_name }}"</b></p>
            <!-- <center><a href="#" class="btn btn-default btn-sm btn-pos-B" id="buttonB"><b> B </b></a>
            <a href="#" class="btn btn-default btn-sm"><i> I </i></a></center> -->
        </p>
        </div>
        <div class="button-look">
        <button type="submit" value="Add Blog" class="btn btn-success"><a href="{% url 'index' %}"> ADD BLOG </a></button>
        <a href="{% url 'index' %}" class="btn btn-danger"> CANCEL </a>
        </div>
    </form></center>
    <script type="text/javascript">
        window.onload = function()
            {
            CKEDITOR.replace( 'blog-body' );
        };
    </script>

    
</body>
</html>