{% include 'body-navbar.html' %}

{% load static %}

<html>
    <head>
        <title>{% block head_title %} New experience {% endblock %}</title>

        <!-- <meta name= "viewport" content="width=device-width, initial-scale=1.0">
        <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
        <div class="wrapper-easy"><span class="text_pos"> A New Blogging Experience </span>
        <span class="second-wrapper"> Blogs feed!! </span>
        </div> -->

		<style type="text/css" title="currentStyle">
			@import "{% get_static_prefix %}css/bootstrap.min.css";
		    @import "{% get_static_prefix %}css/bootstrap-theme.min.css";
		    /*@import "{% get_static_prefix %}js/jquery-2.1.1.min.js";
		    @import "{% get_static_prefix %}js/bootstrap.min.js";*/
            @import "{% get_static_prefix %}js/bootstrap.js";
		    @import "{% get_static_prefix %}css/style.css";
            @import "{% get_static_prefix %}js/moment.js";
		</style>
        <script type="text/javascript" src="{% get_static_prefix %}js/moment.js"></script>
        <script type="text/javascript" src="{% get_static_prefix %}js/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="{% get_static_prefix %}js/bootstrap.min.js"></script>
    </head>


<body>
    <h1>
    <!-- {% if user.is_authenticated %} -->
    <p>Welcome, {{ user.first_name }}. Thanks for logging in.</p>
<!-- {% endif %}</h1> -->
    </h1>
<!-- <h1> Welcome {{request.user.username}} </h1> -->

    <h2>{{ blog }}</h2>

{#    {% if blog %}#}
{#        <ul>#}
{#            {% for i in blog %}#}
{#                <article>#}
{#                    <p> {{ i.title }} </p>#}
{#                    <header class="entry-header">#}
{#                        <h3><a href="blog/{{ i.slug }}"> {% block title %} {{ i }}{% endblock %}</a></h3>#}
{##}
{#                    </header>#}
{##}
{#                </article>#}
{##}
{##}
{#        </ul>#}



</body>


{#{% block content %}#}
{#    {% if posts %}#}
{#    <!-- <ul>{%for post in posts%}<li>{{post.0}} {{post.1.split.0}}</li>{%endfor%}</ul> -->#}
{#        <ul>#}
{##}
{#        {% for post in posts %}#}
{##}
{#            <article>#}
{#                <p> {{ post.0.slug }}</p>#}
{#                <header class="entry-header">#}
{#                    <h1><a href="blog/{{ post.0.slug }}"> {% block title %}{{ post.0 }}{% endblock %}</a></h1>#}
{##}
{#                <p class="new_font_size">#}
{#                    <a sl-processed="1">#}
{#                        <span>#}
{#                            <span>Posted </span>#}
{#                            <time datetime="3 Days Ago"><i></i>#}
{#                                    <span>{{post.1}}</span>#}
{#                            </time>#}
{#                        </span>#}
{#                    </a>#}
{#                    <span> by#}
{#                            <a sl-processed="1">#}
{#                                {{ post.0.first_name }}#}
{#                            </a>#}
{#                    </span>#}
{#                </p>#}
{#                </header><!-- .entry-header -->#}
{##}
{#                <div class="entry-summary">#}
{#                    <p><br>{{ post.0.body | safe }} <br>#}
{#                    </p>#}
{#                </div><!-- .entry-content -->#}
{#            </article><!-- #post-## -->#}
{##}
{#                </div>#}
{#        <hr>#}
{#        </ul>#}

<a href="{% url 'add_blog' %}" class="btn btn-info add-blog"> + ADD BLOG </a>

<!-- <a href="{% url 'logout' %}" class='btn'>logout</a> -->
