{% include 'body-navbar.html' %}

{% load static %}

<html>
    <head>
        <title>{% block head_title %} New experience {% endblock %}</title>

		<style type="text/css" title="currentStyle">
			@import "{% get_static_prefix %}css/bootstrap.min.css";
		    @import "{% get_static_prefix %}css/bootstrap-theme.min.css";
            @import "{% get_static_prefix %}js/bootstrap.js";
		    @import "{% get_static_prefix %}css/style.css";
            @import "{% get_static_prefix %}js/moment.js";
		</style>
        <script type="text/javascript" src="{% get_static_prefix %}js/moment.js"></script>
        <script type="text/javascript" src="{% get_static_prefix %}js/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="{% get_static_prefix %}js/bootstrap.min.js"></script>
    </head>


<body>
    <h1>
    <!-- {% if user.is_authenticated %} -->
    <p>Welcome, {{ user.first_name }}. Thanks for logging in.</p>
<!-- {% endif %}</h1> -->
    </h1>

    {% if blog %}
        <ul>
            <hr>
            {% for i in blog %}
                <article>
                    <header class="entry-header">
                        <h2><a href="{% url 'view_blog_post' i.slug %}">{{ i.title }}</a></h2>
                        <h4> Posted on <i> {{ i.posted }}</i></h4>
                        <div class="entry-summary">
                        <p><br> {{ i.body | safe }} <br></p>
                        </div>
                    </header>
                </article>
            <hr>
           {% endfor %}
        </ul>
    {% endif %}

</body>

<a href="{% url 'add_blog' %}" class="btn btn-info add-blog"> + ADD BLOG </a>

<!-- <a href="{% url 'logout' %}" class='btn'>logout</a> -->
