{% extends 'base_site.html' %}

{% load static %}

{% block content %}
<script>
    function show_time(time,val_id){
        var now = moment();
        var time_diff = moment(time, "YYYYMMDD").fromNow();
        // alert(time_diff);
        console.log(time_diff,time,val_id);
        $(val_id).html(time_diff);
    }
</script>
// <script>
//     function disp_time(time, val_id){
//         n = {{ post.0.posted }}
//         var now1 = moment();
//         x = now1.diff(n);
//         $(val_id).html(x);
//     }
// </script>
    {% if posts %}
        <!-- <ul>{%for post in posts%}<li>{{post.0}} {{post.1}}</li>{%endfor%}</ul> -->
        <ul> 

        {% for post in posts %}

             <article>
{#                <p> {{ post.0.slug }}</p>#}
            	<header class="entry-header">
                    <h1><a href="blog/{{ post.0.slug }}"> {% block title %}{{ post.0 }}{% endblock %}</a></h1>

				<p class="new_font_size">
						<a sl-processed="1">
                            <span>
                                <span>Posted </span>
                                <time datetime="3 Days Ago"><i></i>
                                        <span id="time-{{ post.0.id }}" onload="show_time('{{ post.0.posted }}','#time-{{ post.0.id }}');"></span> Ago
                                </time>
                            </span>
                        </a>
                        <span> by
                                <a sl-processed="1">
                                    {{ post.0.first_name }}
                                </a>
                        </span>		
                </p>
            	</header><!-- .entry-header -->

            	<div class="entry-summary">
            		<p><br>{{ post.0.body }} <br>
                    </p>
            	</div><!-- .entry-content -->
            </article><!-- #post-## -->

                </div>
            <hr>

        {% endfor %}
        </ul>
    {% else %}
        <p>There are no posts.</p>
    {% endif %}

{% endblock %}

