{% load static %}
<!DOCTYPE html>
<html>

    <head>

      <meta charset="UTF-8">

        <title>
            {% block title %}
                Blog | Login
            {% endblock %}
        </title>


        <style type="text/css" title="currentStyle">
            @import "{% get_static_prefix %}css/style.css";
            @import "{% get_static_prefix %}css/bootstrap.min.css";
        </style>

        <!-- script src="{% get_static_prefix %}js/prefixfree.min.js"></script --> 

    </head>

<body class="signup all-same-look">

  <div class="body container-fluid"><center>
        <label class="signup"><a href="{% url 'signup' %}">Not an User! Sign Up Here</a></label>
		<div class="grad"></div>
        <div class="row-fluid main-field">


            <div class="header">
                <div class="welcome"><h1>Welcome to a new <span> Blogging </span> experience</h1></div>
            </div>
            <br>
            <form class="login" name="myForm" action="{% url 'login' %}" method="post">
                <div id="myForm">
                {% csrf_token %}
                <div>
                    {% if messages %}
                            {% for message in messages %}
                                <div class="alert msg-display alert-{{message.tags}}">
                                {{ message }}
                                <a class="close">×</a>
                                </div>
                            {% endfor %}
                    {% endif %}
                </div>
                <p class="firstname-look">{{ form.username }}</p>
                <p class="firstname-look">{{ form.password }}</p>
                </div>
                <p class="submit firstname-look">
                    <input name="wp-submit" id="wp-submit" class="btn btn-success" value="LOG IN" type="submit">
                    <!-- <a href="{% url 'dashboard' %}" class="btn btn-success"> LOG IN </a> -->
                    <a href="{% url 'index' %}" class="btn btn-danger"> CANCEL </a>
                </p>

            </form>
        </div> </center>
  </div>

  <script src='http://codepen.io/assets/libs/fullpage/jquery.js'></script>

</body>

</html>