{%  extends 'base_site.html' %}

{% block content %}
{#            <script src="http://code.jquery.js"></script>#}
{#            <script src="js/bootstrap.min.js"></script>#}
    <br>
    <header class="details-blog">
                     {% block title %}"{{ obj.title }}"{% endblock %}

                        <span> by
                                <a sl-processed="1"><i>
                                    {{ obj.first_name }}</i>
                                </a>
                        </span>

            	</header><!-- .entry-header -->
{#        <a href="{% url 'delete_blog' obj.pk %}" class="btn btn-danger glyphicon glyphicon-trash del-button"></a>#}
        <div class="details-blog-body"><center>
            		<p><br>{{ obj.body | safe }} <br>
                    </p>
                </center>
            	</div><!-- .entry-content -->
    <br>
    <hr>
    <!-- Comments  -->
    {% if comments %}
        <p><h2>Comments:</h2></p>
    {% endif %}
    <hr>
    {% for comment in comments %}
        <center><div class="comment">
            <div class="time"><b>{{ comment.created }} | {{ comment.author }}</b></div>
            <div class="body"><b><u>Comment:</u></b>{{ comment.body|linebreaks }}</div>
        </div>
        <hr>
    {% endfor %}

    <div id="addc"><h3>Add a comment</h3></div>
    <!-- Comment form  -->
    <form action="{% url 'add_comment' obj.id %}" method="POST">{% csrf_token %}
        <div id="cform">
            Name: {{ form.author }}
            <p>{{ form.body }}</p>
        </div>
        <div id="submit"><input type="submit" value="Submit"></div>
    </form></center>
        {% endblock %}


